// // Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// // Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

:root {
    --bg-color: #C4C9DC;
    --dash-bg-color: #eef2f5;

    //left side header
    --dark-gray: #55607c;
    --light-gray: #edf0f5;
    --icon-light-gray: #a2a5aa;
    --light-red-bg-admin-badge: #FEEBEB;
    --red-bagde-admin: #FD2D2D;
    --salmon: #FE6D6A;
}